/* Dulas Built in CSS */

.dulas-row{
  width:100%;
  display: block;
  overflow: hidden;
  position: relative;
}

.dulas-track{
  position: relative;
}

.dulas-slide{
 float: left;
 display: block;
}

.dulas--freeze{
 pointer-events:none;
}