
@import '1-vendor/themename';
@import '1-vendor/variables';
/* @import '1-vendor/bootstrap'; */

@import '1-vendor/reset';

@import '2-base/functions';
@import '2-base/mixins';
@import '2-base/typography';
@import '2-base/colors';
@import '2-base/placeholders';
@import '2-base/functions';
@import '2-base/animations';

@import '3-framework/breakpoint.scss';
@import '3-framework/grid.scss';
@import '3-framework/spacing.scss';
@import '3-framework/spacing-10s.scss';
@import '3-framework/wrappers.scss';

@import '4-layout/default-structure';
@import '4-layout/custom';
@import '4-layout/footer';
@import '4-layout/slide-img';
@import '4-layout/slide-texts';
@import '4-layout/slide-skills';
@import '4-layout/slide';

@import '5-modules/dulas.scss';

@import '6-responsive/slide.scss';
@import '6-responsive/slide-img.scss';
@import '6-responsive/slide-texts.scss';

