#wrapper{
  display:flex;
  flex-direction: column;
  height: 100%;
}

#main{
  flex: 1 0 auto;
  background: var(--accent);
}

.title{
  color:var(--yellow);
  text-align:center;
  margin: 2vh 0;
}

footer{
 
}
