#wrapper{
  display:flex;
  flex-direction: column;
  height: 100%;
}

body{
   background: var(--dark);
}

#main{
  flex: 1 0 auto;
}

.title{
  color:var(--yellow);
  text-align:center;
  letter-spacing: 2px;
  max-width:70%;
  margin:2vh auto;
}

footer{
 
}
