.slide-bars{
 width:100%;
 display:flex;
 justify-content:center;

 @media #{$device-md}{
  width:80%;
  margin:0 auto;
 }

 .bar{
  width:70px;
  height:10px;
  background: var(--white);
  border-radius:10px;
  margin:20px 7px;
  cursor:pointer;
 }

 .bar--active{
  background: var(--yellow);
 }
}

