.slide-container{
 max-width:calc(460px * 2);
 margin:0 auto;
 overflow: hidden;
}

.slide{
 background: var(--primary);
 max-width:360px;
 border-radius: 5%;
 height:auto;
 padding:30px 0;
 margin: 5px 50px;
 display:flex;
 flex-direction:column;
 justify-content:space-between;
 position:relative;
}

.slide-controls{
  width:400px;
  margin: 20px auto;

  #btnPrev, #btnNext{
   background:var(--yellow);
   border-radius: 50%;
   height:72px;
   width:72px;
   display:flex;
   justify-content:center;
   align-items: center;
   color:var(--secondary);
   font-size:26px;
   position:absolute;
  }

  #btnPrev{
   top:50%;
   left:17%;
   z-index:100;
  }
  #btnNext{
   top:50%;
   right:17%;
   z-index:100;
  }
}
