.slide-img__container{
 width:300px;
 height:200px;
 margin:0 auto;
 display:flex;
 justify-content: center;

 .slide-img{
  object-fit: contain;
  width:70%;
   @media #{$device-md}{
    width:50%;
    margin:0 auto;
  }
 }

 @media #{$device-md}{
    width:100%;
    margin:0 auto;
  }


}
