.slide-container{
 max-width:calc(460px * 2);
 margin:30px auto 10px auto;
 overflow: hidden;

 @media #{$device-md}{
  max-width:460px !important;
 }
}

.slide{
 background: var(--primary);
 max-width:360px;
 border-radius: 5%;
 height:auto;
 padding:30px 0;
 margin: 5px 50px;
 box-shadow: 0 0 4px 5px rgba(0,0,0,0.35);
 display:flex;
 flex-direction:column;
 justify-content:space-between;
 position:relative;

}

.slide-row{
  width:50%;

  @media #{$device-md}{
    width:100%;
    overflow:hidden;
  }
}


  #btnPrev, #btnNext{
   background:var(--yellow);
   border-radius: 50%;
   height:72px;
   width:72px;
   display:flex;
   justify-content:center;
   align-items: center;
   color:var(--secondary);
   box-shadow: 0 0 3px 3px rgba(0,0,0,0.2);
   font-size:26px;
   position:absolute;
   top:35%;
  }

  #btnPrev{
   left:27%;
   z-index:100;

  @media only screen and (max-width:1366px){
     left: 17%;
     top:50%;
   }
   @media #{$device-md}{
     left: 7%;
   }
  }
  #btnNext{
   right:27%;
   z-index:100;

  @media only screen and (max-width:1366px){
     right: 17%;
     top:50%;
   }
   @media #{$device-md}{
     right: 7%;
   }
}
