.slide-skills__container{
 margin:30px 25px 0 25px;
 display:flex;
 justify-content:space-between;
 align-items: center;

 .skill{
  width:50px;
  height:auto;

  @media #{$device-md}{
   width:40px;
  }
 }
}